### Java ###
*.class
*.jar
*.war
*.ear
hs_err_pid*

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Gradle ###
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
out/

### Node.js ###
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-debug.log*

### IDEs ###
## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
## STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
## VS Code
.vscode/

### Logs ###
*.log

### OS files ###
.DS_Store
Thumbs.db

### Env files ###
.env
.env.local
.env.production

### Ignorar arquivos gerados XACDML ###
/src/main/java/com/example/projeto_tcc/xacdml_output/

### Output e builds gerais ###
/output

### Exceção para biblioteca de simulação ###
!/libs/simulation-manager-1.0-SNAPSHOT.jar

Archive.zip
