HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignorar arquivos gerados XACDML
/src/main/java/com/example/projeto_tcc/xacdml_output/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# =======================================================
# EXCEÇÃO PARA A BIBLIOTECA DE SIMULAÇÃO
# Ignora todos os arquivos .jar, exceto o nosso.
# =======================================================
*.jar
!/libs/simulation-manager-1.0-SNAPSHOT.jar

./output
